{{> head }}

{{> navbar }}


<div class="row">

  <div class="col-8">
      <h1>Batman</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolor cum provident distinctio, vel nisi dolorum quam! Maiores nemo accusantium placeat, rem, nam eaque vel laboriosam quasi dolor dolore veritatis.</p>
  </div>


  <div class="col-4">
      <img src="assests/images/batman.jpg" class="img-thumbnail" alt="...">
  </div>

<div>



{{> footer }}